<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" jhiTranslate="pruebaNttApp.cliente.home.createOrEditLabel">
        Create or edit a Cliente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.primerNombre" for="field_primerNombre">Primer Nombre</label>
          <input
            type="text"
            class="form-control"
            name="primerNombre"
            id="field_primerNombre"
            data-cy="primerNombre"
            formControlName="primerNombre"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.segundoNombre" for="field_segundoNombre">Segundo Nombre</label>
          <input
            type="text"
            class="form-control"
            name="segundoNombre"
            id="field_segundoNombre"
            data-cy="segundoNombre"
            formControlName="segundoNombre"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.primerApellido" for="field_primerApellido">Primer Apellido</label>
          <input
            type="text"
            class="form-control"
            name="primerApellido"
            id="field_primerApellido"
            data-cy="primerApellido"
            formControlName="primerApellido"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.segundoApellido" for="field_segundoApellido">Segundo Apellido</label>
          <input
            type="text"
            class="form-control"
            name="segundoApellido"
            id="field_segundoApellido"
            data-cy="segundoApellido"
            formControlName="segundoApellido"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.telefono" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.ciudadResidencia" for="field_ciudadResidencia"
            >Ciudad Residencia</label
          >
          <input
            type="text"
            class="form-control"
            name="ciudadResidencia"
            id="field_ciudadResidencia"
            data-cy="ciudadResidencia"
            formControlName="ciudadResidencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.cedulaCiudadania" for="field_cedulaCiudadania"
            >Cedula Ciudadania</label
          >
          <input
            type="number"
            class="form-control"
            name="cedulaCiudadania"
            id="field_cedulaCiudadania"
            data-cy="cedulaCiudadania"
            formControlName="cedulaCiudadania"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebaNttApp.cliente.tipoIdentificacion" for="field_tipoIdentificacion"
            >Tipo Identificacion</label
          >
          <select
            class="form-control"
            name="tipoIdentificacion"
            formControlName="tipoIdentificacion"
            id="field_tipoIdentificacion"
            data-cy="tipoIdentificacion"
          >
            <option [ngValue]="null">{{ 'pruebaNttApp.TipoIdenficacion.null' | translate }}</option>
            <option *ngFor="let tipoIdenficacion of tipoIdenficacionValues" [value]="tipoIdenficacion">
              {{ 'pruebaNttApp.TipoIdenficacion.' + tipoIdenficacion | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
